---
layout: text
title: Method reference
---

<h2>Method reference</h2>

<div class="method-list">
	{% assign modules = site.data.methods | group_by: "module" | sort: 'name', 'first' %}
	<ul>
		{% for module in modules %}
			<li>
				<a href="#module-{{ module.name | slugify }}">
					{% if module.name and module.name != "" %}
						<code class="class">{{ module.name }}</code> module
					{% else %}
						Targeted methods
					{% endif %}
				</a>
			</li>
		{% endfor %}
	</ul>

	{% for module in modules %}
		<h3 id="module-{{module.name | slugify }}">
			{% if module.name and module.name != "" %}
				{{ module.name }}
			{% else %}
				Targeted methods
			{% endif %}
		</h3>

		{% assign targets = module.items | group_by: "target" | sort: 'name', 'first' %}

		<ul>
			{% for target in targets %}
				<li><code class="class"><a href="#target-{{ target.name | slugify }}">{{ target.name }}</a></code></li>
			{% endfor %}
		</ul>

		{% for target in targets %}
			<h4 id="target-{{ target.name | slugify }}">{{ target.name }}</h4>
			{% for method in target.items %}
				<div class="method" data-target="{{method.target}}" data-subtarget="{{method.subtarget}}" data-module="{{method.module}}">
					<h5>{{ method.name }}{{ method.args}}</h5>
						<div class="content">
							{% if method.synopsis %}
								<p><em class="method-synopsis">{{ method.synopsis }}</em></p>
							{% endif %}
							{% if method.detail %}
								<p>{{ method.detail }}</p>
							{% endif %}
							<table class="method-details">
								<tr><td>Target</td><td><code>{{ method.target }}</code></td></tr>
								{% if method.subtarget %}
									<tr><td>Subtarget</td><td><code>{{ method.subtarget }}</code></td></tr>
								{% endif %}
								{% if method.module %}
									<tr><td>Module</td><td><code>{{ method.module }}</code></td></tr>
								{% endif %}
								<tr><td>Class</td><td><code>{{ method.method }}</code></td></tr>
							</table>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
	{% endfor %}
</div>
