# Name mapping
public net.minecraft.tileentity.TileEntity field_145853_j # classToNameMap

# Methods
public net.minecraft.entity.monster.EntityCreeper func_146077_cc()V # explode
public net.minecraft.entity.monster.EntityEnderman func_70825_j(DDD)Z # teleportTo

# Fake player
public net.minecraft.entity.player.EntityPlayer field_71074_e # itemInUse
public net.minecraft.server.management.ItemInWorldManager field_73094_o # durabilityRemainingOnBlock

# Player flying
public net.minecraft.network.NetHandlerPlayServer field_147365_f # floatingTickCount
