body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
	"Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
	background-color: $header-back;
	color: $header-fore;
	height: 50px;

	h1 {
		font-size: 1.5em;
	}

	.button-group {
		height: 100%;
		a {
			display: inline-block;
			height: 100%;
			padding: 0px 10px;
			box-sizing: border-box;
			color: inherit;

			&:hover {
				color: inherit;
				background-color: darken($header-back, 10%);
			}

			@include middle;
		}
	}
}

footer {
	background-color: $footer-back;
	box-sizing: border-box;
	color: $footer-fore;
	font-size: 0.7em;
	padding: 10px;

	@include link($grey06, $grey04);

	code {
		background: none;
		color: inherit;
		font-size: inherit;
	}
}

h2, h3 {
	overflow-wrap: break-word;
	word-break: break-all;

	small, .small { font-size: 0.5em; }
}

h2 {
	font-size: 2em;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: solid 1px $grey05;
}

h3 {
	font-size: 1.2em;
	padding-top: 8px;
	padding-bottom: 8px;
}

pre, code {
	font-family: "Consolas", "Courier New", monospace;
}

code {
	background-color: $grey07;
	color: $base0E;
	padding: 0.1em;
	font-size: 0.8em;
}

pre {
	padding: 1.2em;
	font-size: 0.8em;
	white-space: pre-wrap;
}

pre.box, pre.highlight {
	border: solid 1px $grey05;
	background-color: $grey08;

	code {
		background-color: transparent;
		color: inherit;
		padding: 0px;
		font-size: inherit;
	}
}

pre.highlight {
	.o, .ow, .kd, .k { color: $base08; }
	.s2 { color: $base09; }
	.c1 { color: $grey03; }
	.kc { color: $base0D; }
}

em { font-style: italic; }
strong { font-weight: bold; }

p {
	line-height: 1.3em;
}

p, table.table-grid, pre, ul, blockquote {
	margin-top: 1em;
	margin-bottom: 1em;

	&:first-child { margin-top: 0em; }
	&:last-child { margin-bottom: 0em; }
}

@include link($link, lighten($link, 20%));
a {
	text-decoration: none;
}

@include icon-link($grey03, $grey00);

blockquote {
	background-color: $grey08;
	padding: 1em 1em 1em 1.3em;
	border-left: solid 0.3em $grey04;
}

.aria-hint {
	display: none;
}

.text-content {
	a {
		font-weight: 600;
	}

	h3 {
		border-bottom: $grey05 1px solid;
	}

	ul {
		list-style-type: disc;
		list-style-position: outside;
		padding-left: 2em;

		li {
			padding: 3px 0px;
		}
	}

	img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}
.fa.fa-0 {
	font-size: 0.7em;
}

table.table-grid {
	td, th {
		padding: 10px;
		min-width: 100px;
	}

	> tr, tbody > tr {
		border-top: solid 1px $grey06;
	}

	tbody > tr:first-child {
		border-top: none;
	}

	thead > tr {
		font-weight: bold;
		border-bottom: solid 2px $grey06;
	}
}

table.table-rows {
	tr {
		margin: 10px 0px;
	}

	th {
		text-align: right;
		border-right: solid 1px $grey06;
	}
}
