$footer-height: 30px;
$header-height: 60px;

$grey00: #151515;
$grey01: #202020;
$grey02: #505050;
$grey03: #707070;
$grey04: #B0B0B0;
$grey05: #D0D0D0;
$grey06: #E0E0E0;
$grey07: #ECF0F1;
$grey08: #FAFAFA;
$grey09: #FFFFFF;

$base08: #FF0086;
$base09: #FD8900;
$base0B: #00C918;
$base0C: #1FAAAA;
$base0D: #3777E6;
$base0E: #AD00A1;

$header-back: $base0C;
$header-fore: $grey09;

$footer-back: $grey02;
$footer-fore: $grey09;

$link: darken($base0D, 20%);

@mixin link($normal, $hover) {
	a {
		&, &:visited, &:active { color: $normal; }
		&:hover { color: $hover; }
	}
}

@mixin icon-link($normal, $hover) {
	a.icon-link {
		& .fa, &:visited .fa, &:active .fa { color: $normal; }
		&:hover  .fa { color: $hover; }
	}
}

@import "reset.scss";
@import "layout.scss";
@import "general.scss";

.main {
	&.center-content {
		max-width: 90%;
	}

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.main-content {
		order: 2;
		box-sizing: border-box;
		flex: 0 0 75%;
		max-width: 75%;
		padding-left: 15px;
	}

	.main-sidebar {
		text-align: right;
		box-sizing: border-box;
		flex: 0 0 25%;
		max-width: 25%;
		padding-right: 15px;

		li {
			padding: 3px 0px;
			line-height: 1.4em;
		}

		.sidebar-group {
			margin-bottom: 20px;
		}
	}

	// This is awful, but it works.
	* {
		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-word;
	}

	@media(max-width: 800px) {
		.main-content {
			order: 1;
			flex-basis: 100%;
			max-width: 100%;
			padding-left: 0px;
		}

		.main-sidebar {
			order: 2;
			text-align: left;
			flex-basis: 100%;
			max-width: 100%;
			padding-right: 0px;
		}
	}
}

code.class {
	background-color: inherit;
	color: inherit;
}

.method-list {
	h3 {
		font-size: 1.7em;
		margin-bottom: 0.5em;
	}

	h4 {
		margin-top: 2em;
		margin-bottom: 0.7em;
		font-size: 1.3em;
		font-family: "Consolas", monospace;
	}
}
.method {
	background: $grey08;
	margin-top: 10px;

	h5 {
		font-size: 1em;
		font-family: "Consolas", monospace;
		background: #EEEEEE;
		display: block;
		margin-bottom: 0px;
		font-weight: 600;
	}

	h5, .content {
		width: 100%;
		padding: 6px;
		box-sizing: border-box;
	}

	table {
		width: 100%;
	}

	tr, td, th {
		border: 1px solid $grey04;
		min-width: 100px;
		padding: 3px;
		font-size: 14px;
	}
}

.desc {
	.desc-row {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin: 5px 0px;
	}

	.desc-text {
		flex: 0 1 100%;
		max-width: 100%;
		order: 1;
	}

	.desc-image, .desc-image {
		flex: 0 0 350px;
		max-width: 350px;
	}

	&:nth-of-type(2n+1) .desc-image {
		padding-right: 10px;
		order: 0;
	}

	&:nth-of-type(2n) .desc-image {
		padding-left: 10px;
		order: 2;
	}

	@media(max-width: 800px) {
		.desc-row {
			flex-direction: column;
		}

		.desc-text {
			flex-basis: 100%;
			max-width: 100%;
		}

		.desc-image {
			flex-basis: 100%;
			max-width: 100%;
			margin: 10px auto;
			padding: 0px;
			order: 2 !important;
		}
	}
}

.download {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.version {
		$background: $header-back; // #00630C;

		flex-basis: 300px;
		max-width: 300px;
		margin: 0px 15px 15px 15px;

		h3 {
			background: $background;
			width: 100%;
			padding: 5px;
			border: none;
			margin: 0px;
			box-sizing: border-box;
			padding: 10px;

			@include link($grey09, lighten($background, 40%));
		}

		a { font-weight: normal; }

	}

	@media(max-width: 800px) {
		flex-direction: column;

		.version {
			flex-basis: 100%;
			max-width: 100%;
			margin: 0px 0px 15px 0px;
		}
	}

}
