<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{% if page.title %}{{ page.title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
		<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	</head>
	<body>
		<div id="container">
			<header>
				<div class="pull-left button-group">
					<a href="{{ "/" | relative_url }}">
						<h1>Plethora</h1>
					</a>
				</div>

				<div class="pull-right button-group hide-tiny">
					<a href="https://minecraft.curseforge.com/projects/plethora-peripherals" title="View on Curse">
						<span>
							<span class="fa fa-fire" aria-hidden="true"></span>
							Curse
						</span>
					</a>
					<a href="https://github.com/SquidDev-CC/plethora" title="View on GitHub">
						<span>
							<span class="fa fa-github" aria-hidden="true"></span>
							GitHub
						</span>
					</a>
				</div>
			</header>
			<div id="content">
				{{content}}
			</div>
			<footer>
				<span class="pull-left">
					&copy; {{ site.time | date: '%Y' }} SquidDev</a>
				</span>
			</footer>
		</div>
	</body>
</html>
