<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{% if page.title %}{{ page.title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
		<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

		<link rel="apple-touch-icon-precomposed" sizes="57x57"   href="{{ "images/icons/apple-touch-icon-57x57.png" | relative_url }}" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "images/icons/apple-touch-icon-114x114.png" | relative_url }}" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72"   href="{{ "images/icons/apple-touch-icon-72x72.png" | relative_url }}" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "images/icons/apple-touch-icon-144x144.png" | relative_url }}" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "images/icons/apple-touch-icon-120x120.png" | relative_url }}" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "images/icons/apple-touch-icon-152x152.png" | relative_url }}" />
		<link rel="icon" type="image/png" href="{{ "images/icons/favicon-32x32.png" | relative_url }}" sizes="32x32" />
		<link rel="icon" type="image/png" href="{{ "images/icons/favicon-16x16.png" | relative_url }}" sizes="16x16" />
		<link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | relative_url }}" />
		<meta name="application-name" content="Plethora"/>
		<meta name="msapplication-TileColor" content="#1FAAAA" />
	</head>
	<body>
		<div id="container">
			<header>
				<div class="pull-left button-group">
					<a href="{{ "/" | relative_url }}">
						<h1>Plethora</h1>
					</a>
				</div>

				<div class="pull-right button-group hide-tiny">
					<a href="https://minecraft.curseforge.com/projects/plethora-peripherals" title="View on Curse">
						<span>
							<span class="fa fa-fire" aria-hidden="true"></span>
							Curse
						</span>
					</a>
					<a href="https://github.com/SquidDev-CC/plethora" title="View on GitHub">
						<span>
							<span class="fa fa-github" aria-hidden="true"></span>
							GitHub
						</span>
					</a>
				</div>
			</header>
			<div id="content">
				{{content}}
			</div>
			<footer>
				<span class="pull-left">
					&copy; {{ site.time | date: '%Y' }} SquidDev</a>
				</span>
				<span class="pull-right">
					View this page on <a href="https://github.com/SquidDev-CC/plethora/blob/gh-pages/{{ page.path | uri_escape }}">GitHub</a>.
				</span>
			</footer>
		</div>
	</body>
</html>
