---
layout: default
---

<div class=" center-content main">
	<div class="main-content text-content">
		{{ content }}
	</div>
	<div class="main-sidebar">
		<div class="sidebar-group">
			<h3>Basic concepts</h3>
			<ul>
				<li><a href="{{ "getting-started.html" | relative_url }}">Getting started</a></li>
				<li><a href="{{ "modules.html" | relative_url }}">Manipulating modules</a></li>
				<li><a href="{{ "neural-interface.html" | relative_url }}">The neural interface</a></li>
				<li><a href="{{ "item-transfer.html" | relative_url }}">Moving items</a></li>
				<li><a href="{{ "cost-system.html" | relative_url }}">The cost system</a></li>
				<li><a href="{{ "configuring.html" | relative_url }}">Configuring Plethora</a></li>
			</ul>
		</div>

		<div class="sidebar-group">
			<h3><a href="{{ "methods.html" | relative_url }}">Method reference</a></h3>
		</div>

		<div class="sidebar-group">
			<h3>Examples</h3>
			<ul>
				{% include example-list.html %}
			</ul>
		</div>
	</div>
</div>
